*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.banner-1,.banner-2,.banner-3,.banner-4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

img{
    position: absolute;
}
.text-box{
    width: 40%;
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
    border-radius: 25px;
}
.text-box h1{
    margin-bottom: 5%;
    text-transform: capitalize;
}
.text-box p{
    font-size: 100%;
    line-height: 110%;
    margin-top: 10%;
    text-transform: capitalize;
}
.text-box span{
    background:rgb(81, 81, 207);
    height: 1px;
    width: 25%;
    position: absolute;
    left: 5%;
}

/* animaciones */

.banner-1{
    animation: slide1 12s linear infinite;
}
.banner-2{
    animation: slide2 12s linear infinite;
}
.banner-3{
    animation: slide3 12s linear infinite;
}
.banner-4{
    animation: slide4 12s linear infinite;
}
img{
    animation: zoom-out 3s linear infinite;
    width: 120%;
}
.text-box{
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 3s;
}
.text-box3{
    animation-delay: 6s;
}
.text-box4{
    animation-delay: 9s;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes zoom-out{
    100%{
        width:100% ;
    }
}
@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}